{%extends "home/base.html"%}
{% block title %}<title>SD Retail - Delete Address</title>{% endblock title %}
{%block content%}
<div class="container mt-5">
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4 text-danger">Delete Address?</legend>
				<h2 class="text-info">Are you sure you want to delete the address <b>{{ address.contact_name }}</b>?</h2>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
				<a class="btn btn-outline-secondary" href="{% url 'addresses' %}">Cancel</a>
			</div>
		</form>
	</div>
</div>
{%endblock content%}