{%extends "home/base.html"%}
{% block title %}<title>SD Retail - Login</title>{% endblock title %}
{% load crispy_forms_tags %}
{%block content%}
<div class="content-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-7 col-lg-7">
                <div class="login-form-container">
                    <h3 class="text-center text-danger"><b>Login Here</b></h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id="username_id" name="username" aria-describedby="username_help" placeholder="Enter Username">
                            {% for err in form.username.errors %}
                                <small id="username-help-id" class="form-text text-danger">{{ err }}</small>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password_id" name="password" placeholder="Password">
                            {% for err in form.password.errors %}
                                <small id="password-help-id" class="form-text text-danger">{{ err }}</small>
                            {% endfor %}
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <small class="text-muted ml-2">
                            <a href="{% url 'password_reset' %}">&nbsp;Forgot Password?</a>
                        </small>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Need An Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a>
                        </small>			
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-2"></div>
        </div>
    </div>
</div>    
{%endblock content%}