{%extends "home/base.html"%}
{% block title %}<title>SD Retail - Password Reset</title>{% endblock title %}
{% load crispy_forms_tags %}
{%block content%}
	<div class="content-section">
		<div class="container mt-4">
			<div class="row">
				<div class="col-md-8 col-lg-8 offset-2">
					<div class="p-5" style="border: solid 1px grey; border-radius: 20px;">
						<form method="POST">
							{% csrf_token %}
							<fieldset class="form-group">
								<legend class="w-75 border-bottom mb-4 text-center">Reset Password</legend>
								{{ form|crispy }}
							</fieldset>
							<div class="form-group">
								<button class="btn btn-outline-info" type="submit">Request Password Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			var email_field = document.getElementById("id_email")
			email_field.setAttribute("class","w-100")
		</script>
	</div>
{%endblock content%}