{% extends 'home/base.html' %}
{% load static %}
{% block title %}<title>SD Retail - Products</title>{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <div class="content">
            <div class="row">
                <div class="col-md-5 col-lg-5">
                    <div id="id_product_images" class="carousel slide border border-secondary" style="border-radius: 10px;" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for prod_img in object.productimages_set.all %}
                                <div class="carousel-item m-4">
                                    <img class="d-block w-75 m-auto" src="{{ prod_img.product_img_url }}" alt="{{ prod_img.product_img_url }}">
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#id_product_images" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#id_product_images" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <h2 class="text-secondary">{{ object.product_name }}</h2>
                    <div class="d-flex flex-column">
                        <p class="mb-1"><b>M.R.P.</b>&nbsp;<i class="fas fa-rupee-sign"></i>&nbsp;<span  class="text-danger"><del>{{object.unit_price}}</del></span></p>
                        <p class="mb-1"><b>Offer Price: </b>&nbsp;<i class="fas fa-rupee-sign"></i>&nbsp;<span  class="text-dark">{{object.unit_price}}*</span></p>
                        <p class="mb-1"><b>You Save: </b>&nbsp;<i class="fas fa-rupee-sign"></i>&nbsp;<span  class="text-dark">0</span></p>
                        <p class="mb-1"><span>*</span><span  class="text-dark">Inclusive of all Taxes</span></p>
                    </div>
                    <p><small class="text-dark"><b>Category:&nbsp;</b>{{object.product_category}}</small></p>
                    <div class="product-specs">
                        <h5 class="px-2 text-light bg-dark"><i class="fas fa-angle-double-right"></i>&nbsp;&nbsp;Product Specifications</h5>
                        <ul class="ml-4 list-styled">
                            {% for spec in object.productspecification_set.all %}
                                <li class="list-items">{{spec.product_specs}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p class="text-dark mb-1"><b>Brand:&nbsp;</b>{{ object.product_brand }}</p>
                    <p class="text-dark mb-1"><b>Colors:&nbsp;</b>{{ object.color_available }}</p>
                    <p class="text-dark mb-1"><b>Manufacturer:&nbsp;</b>{{ object.product_manufracturer }}</p>
                    <p class="text-dark mb-1"><b>ASIN Number:&nbsp;</b>{{ object.asin_number }}</p>
                    <p class="text-dark mb-1"><b>Item Model Number:&nbsp;</b>{{ object.item_model_number }}</p>
                    <p class="text-dark mb-1"><b>Dimension:&nbsp;</b>{{ object.product_height }}&nbsp;x&nbsp;{{ object.product_width }}&nbsp;x&nbsp;{{ object.product_length }}&nbsp;{{ object.product_height_dim|lower }}; {{ object.product_weight }}&nbsp;{{ object.product_weight_dim|lower }}</p>
                    <p class="text-dark mb-1"><b>Description:&nbsp;</b>{{ object.product_description }}</p>
                </div>

                <div class="col-md-3 col-lg-3">
                    <div class="border border-dark p-3" style="border-radius: 10px;">
                        <div class="w-100 m-auto">
                            <a id="id_add_to_cart" data-url="#" class="w-100 btn btn-warning">&nbsp;&nbsp;Add to Cart&nbsp;&nbsp;</a>
                        </div>
                        <div class="w-100 m-auto">
                            <a id="id_buy_now" data-url="#" class="mt-2 w-100 btn btn-warning">&nbsp;&nbsp;Buy Now&nbsp;&nbsp;</a>
                        </div>
                        <div class="w-100 m-auto">
                            <a id="id_add_to_wishlist" data-url="#" class="mt-4 w-100 btn border btn-outline-light text-dark">&nbsp;&nbsp;Add to Wishlist&nbsp;&nbsp;<span class="p-2 w-100" style="border-radius: 10px;"><i class="fas fa-angle-down"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#id_product_images > div > div:nth-child(1)").addClass("active");
    </script>
{% endblock content %}